<div class="app-card-container">
  <div class="card">

    <h1>Contact</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-6">
        <h2>Phone</h2>
        
        <p><%= number_to_phone "8016527975" %></p>
        
        <h2>Email</h2>
        
        <p><%= mail_to "anthonydo11@yahoo.com", "anthonydo11@yahoo.com" %>
        </p>
        
        <h2>Price</h2>
        
        <p><%= number_to_currency "30" %> per shoot</p>
        
        <p>Photographer based in Salt Lake City, Utah</p>
        
      </div>
      
      <div class="col-md-6">
        <h2>Social</h2>
        <ol class="list-unstyled social-links">
          <li><a href="https://www.instagram.com/dosanity"><%= fa_icon "instagram" %></a></li>
          <li><a href="https://www.facebook.com/anthony.do.1420"><%= fa_icon "facebook" %></a></li>
          <li><a href="https://www.twitter.com/do_sanity"><%= fa_icon "twitter" %></a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
