<div>
  <% home_path %>
  <%= render "shared/application_nav1" %>
  <div class="inner cover">
    <h1 class="cover-heading">Photography</h1>
    <br>
    <p class="line-1 anim-typewriter">Photographer based in Salt Lake City, Utah</p>
    <p class="lead">
      <button
        class="btn btn-lg btn-secondary btn1"
        type="button"
        data-toggle="collapse"
        data-target="#camera"
        aria-expanded="false"
        aria-controller="camera"
      >
        More Info
      </button>
    </p>
    
    <p>
      <div class="collapse" id="camera">
        <ol class="list-unstyled cards card card-block">

          <li><%= link_to "Portfolio", portfolios_path, class: "btn btn-lg btn-secondary" %></li>
          <br>
          <li><%= link_to "Central", tech_news_path, class: "btn btn-lg btn-secondary" %></li>
          <br>
          <li><%= link_to "About", about_me_path, class: "btn btn-lg btn-secondary" %></li>
          <br>
          <li><%= link_to "Blog", blogs_path, class: "btn btn-lg btn-secondary" %></li>
        </ol>
      </div>

      <div class="collapse" id="contact">
      </div>
    </p>
    <br>
    
  </div>
</div>

